<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlackPinkのメンバーをAI画像判定</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>
        <h1 class="headline"></h1>

        <div style="text-align: center"> </div>
                <img src="images/blackpinkimg.png" alt="top" width="600" height="100">
                <div>BlackPinkのメンバーをAIが判定します！ </div>
    </header>

    <div class="main">
        <h2> メンバー</h2>
        <ul>
            <li>
            <img src="images/memberpic.jpg" alt="member" width="300" height="200">
                <p>ロゼ/ジス/ジェニ/リサ</p>
            </li>

        </ul>

        <p>画像を選択してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="判定する" type="submit">
        </form>
        <div class="answer">
            <font color="black">{{answer}} </font>
            </div>
    </div>

    <footer>
         
    </footer>
</body>
</html>
